body {
    background-image: url(../images/background2.jpg);
    background-size: 105%;
    font-family: "Bevan", cursive, !important;
}

#start {
    background-color:rgba(255, 0, 27, 0.7);
    margin: 5% 19% 0 25% !important;
    border-radius: 15px 15px 15px 15px;
    color: white;
    width: 50%;
    height: 100% !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    font-family: "Bevan", cursive, !important;
}

.gamestart, .submit {

    background-color: rgba(29, 145, 0, 1) !important;
    border-color: rgba(29, 145, 0, 1) !important;
    margin: 10px 0 10% 35% !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 

}

h1 {
    margin: 10px 0 0 30% !important;
    font-family: "Bevan", cursive, !important;
}

h2 {
    font-size: 20px !important;
    margin: 20px 0 0 35% !important;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}


h3 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 10px 20px 10px 70px !important;
    font-size: 20px !important;
}
input[type="radio"]{
    margin: 10px 10px 10px 30px !important;
  }


  #choice {
      margin-left: 20px !important;
      display: inline;
  }

  h4 {
    margin-left: 18%;
  }

  