body {
    background-image: url(../images/background2.jpg);
    /* background-repeat: repeat-x;
    background-repeat: space; */
    background-size: 105%;
}

#start {
    background-color:rgba(255, 0, 27, 0.7);
    margin: 5% 19% 0 25% !important;
    border-radius: 15px 15px 15px 15px;
    color: white;
    width: 50%;
    height: 250px !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}

.gamestart {

    background-color: rgba(29, 145, 0, 1) !important;
    border-color: rgba(29, 145, 0, 1) !important;
    margin: 10px 0 0 35% !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}

h1 {
    margin: 10px 0 0 30% !important;
    font-family: "Bevan", cursive, !important;
}

h2 {
    font-size: 20px !important;
    margin: 20px 0 0 35% !important;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
}

.choice {
    display: none;
    margin: 20px auto;
    border: none;
    background: gray;
    width: 300px;
    padding: 10px;
    font-size: 25px;
}

